.chat {
  position: fixed;
  top: 5.5rem;

  background-color: white;
  &__message-container {
    height: 12rem;
    width: 80vw;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  &__input {
    width: 100%;
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
