.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: gray;
  height: 3rem;
  // width: 26rem;

  position: fixed;
  bottom: 0;
  width: 100%;

  &__active {
    color: blue;
  }

  &__avatar-container {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: lightgray;
  }

  &__avatar {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
  }
}
