.profile {
  background-color: rgb(191, 189, 189);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__name-container {
    width: 22rem;
    margin: 0 auto;
  }

  &__img-container {
    height: 22rem;
    width: 22rem;
    background-color: grey;
    margin: 0 auto;

    border-radius: 12px;
  }

  &__detail-container {
    background-color: white;
    width: 22rem;
    margin: 0 auto;
    border-radius: 12px;
    padding: 1rem;
  }

  &__detail {
    padding: 1rem;
    border-bottom: 1px solid rgb(181, 179, 179);
  }
}
