.preference {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  margin-top: 2rem;

  &__img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
  }

  &__link {
    border-bottom: 1px solid;
  }
}
