.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  position: fixed;
  width: 100%;
  top: 0;

  background-color: gray;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
