@font-face {
  font-family: Avenir;
  src: url(../asset/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: Avenir;
  src: url(../asset/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
}
